*{
    inset: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}
.calculator{
    height: 500px;
    width: 400px;
    background-color: rgb(54, 56, 56);
    z-index: 1;
    border-radius:10px;
}
.calculator>p{
    position: relative;
    top: 10px;
    text-align: center;
    font-size: xx-large;
    color: #ffffff;
}
.calculator>input{
    height: 50px;
    width: 390px;
    border: #000 solid 2px;
    border-radius:50px;
    font-size: xx-large;
    background-color: #e3e3e3;
}
.button-container{
    height: 370px;
    width: 400px;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.button-container>button{
    width: 85px;
    height: 75px;
    border-radius:10px;
    font-size: larger;
    background-color: #d5d5d5;
}
.button-container>button:last-child{
    background-color:rgb(38, 255, 0);
}
.button-container>button:hover{
    opacity: 0.7;
}